<title>{{user.username}} | Dashboard</title>
<div class="profile">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/logo/logo-dark.png" width="30" class="d-inline-block align-top" alt=""> &nbsp;&nbsp;Manthan 18
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                </ul>
                <span class="navbar-text">
                    <span>

                        <img src="{{user.profileImage}}" width="30" style="border-radius:100%;">

                        <a href="/logout" style="margin-left:20px;">Logout</a>
                    </span>
                </span>
            </div>
        </div>
    </nav>
    <div class="banner">
        <div class="container profile-info">
            <div class="profile-row">
                <div class="avatar">
                    <img src="{{user.profileImage}}">
                </div>
                <div class="details">
                    <h3>{{user.username}}</h3>
                    <p>{{user.college}}</p>
                    <p>Payment Status : {{payment}}</p>
                    <p>Manthan ID : {{user.id}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="ticket">
                    <div class="pattern">
                        <div class="overlay">
                            <img height="170px" src="logo/logo-white.png">
                        </div>
                    </div>
                    <div class="details">
                        <h5>ID : {{user.id}}</h5>
                        <h5>Name : {{user.username}}</h5>
                        <h5>College : {{user.college}}</h5>
                        <h5>Email : {{user.email}}</h5>
                        <h5>Mobile Number : {{user.mobile}}</h5>
                        <h5>Address : {{user.city}}</h5>
                        <h5>Accomodation : {{accomodation}}</h5>
                        {{#if user.kuruInfo.teamName}}
                        <h5>Team Name : {{user.kuruInfo.teamName}}</h5>
                        {{/if}}
                    </div>
                    <hr>
                    <div class="validity">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{{user.qr}}" height="100">
                            </div>
                            <div class="signature col-sm-6">
                                <h5>VaibhavPant</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 50px;  padding: 0 30px; font-family:'Ubuntu';">
                <h3>Payment Details</h3>
                <br>
                <p>Status : {{payment}} </p>
                {{#if user.payment}}
                <p>Payment ID : {{user.paymentId}}</p>
                {{else}}
                <p>You may want to 
                <a href="/profile/payment">Pay now</a>
                </p>
                {{/if}}
                <br><br>
                <a href="#">Edit Profile</a>
                <br>
                {{#if user.kuruInfo.teamName}}
                <a href="#">Edit {{user.kuruInfo.teamName}} team info</a>
                <br>
                {{else}}
                <a href="#">Complete Kurukshetra team details</a>
                <br>
                {{/if}}
                <a href="#">Contact Us</a><br>
                <a href="#">Download Problem Statement</a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>