<div>
    <h1>New kurukshetra registration</h1>
    <p>Name : {{user.kuruInfo.teamLeader}}</p>
    <p>Team Name : {{user.kuruInfo.teamName}}</p>
    <p>Game : {{user.kuruInfo.game}}</p>
    <h4>Members</h4>
    {{#each user.kuruInfo.members}}
    <p>Name : {{this.name}} , Mobile : {{this.mobile}}</p>
    {{/each}}
</div>